/.project
/.vendor
/.uploads
/.yakpro-po
/lib/vendor/PHPMailer/COMMITMENT
/lib/vendor/PHPMailer/LICENSE
/lib/vendor/PHPMailer/README.md
/lib/vendor/PHPMailer/SECURITY.md
/lib/vendor/PHPMailer/VERSION
/lib/vendor/PHPMailer/composer.json
/lib/vendor/PHPMailer/get_oauth_token.php
/lib/vendor/PHPMailer/language/phpmailer.lang-af.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ar.php
/lib/vendor/PHPMailer/language/phpmailer.lang-az.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ba.php
/lib/vendor/PHPMailer/language/phpmailer.lang-be.php
/lib/vendor/PHPMailer/language/phpmailer.lang-bg.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ca.php
/lib/vendor/PHPMailer/language/phpmailer.lang-cs.php
/lib/vendor/PHPMailer/language/phpmailer.lang-da.php
/lib/vendor/PHPMailer/language/phpmailer.lang-de.php
/lib/vendor/PHPMailer/language/phpmailer.lang-el.php
/lib/vendor/PHPMailer/language/phpmailer.lang-eo.php
/lib/vendor/PHPMailer/language/phpmailer.lang-es.php
/lib/vendor/PHPMailer/language/phpmailer.lang-et.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fa.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fo.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-gl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-he.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hu.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hy.php
/lib/vendor/PHPMailer/language/phpmailer.lang-id.php
/lib/vendor/PHPMailer/language/phpmailer.lang-it.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ja.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ka.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ko.php
/lib/vendor/PHPMailer/language/phpmailer.lang-lt.php
/lib/vendor/PHPMailer/language/phpmailer.lang-lv.php
/lib/vendor/PHPMailer/language/phpmailer.lang-mg.php
/lib/vendor/PHPMailer/language/phpmailer.lang-mn.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ms.php
/lib/vendor/PHPMailer/language/phpmailer.lang-nb.php
/lib/vendor/PHPMailer/language/phpmailer.lang-nl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pt.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pt_br.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ro.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ru.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sk.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sr_latn.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sv.php
/lib/vendor/PHPMailer/language/phpmailer.lang-tl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-tr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-uk.php
/lib/vendor/PHPMailer/language/phpmailer.lang-vi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-zh.php
/lib/vendor/PHPMailer/language/phpmailer.lang-zh_cn.php
/lib/vendor/PHPMailer/src/Exception.php
/lib/vendor/PHPMailer/src/OAuth.php
/lib/vendor/PHPMailer/src/OAuthTokenProvider.php
/lib/vendor/PHPMailer/src/PHPMailer.php
/lib/vendor/PHPMailer/src/POP3.php
/lib/vendor/PHPMailer/src/SMTP.php
/.gitignore
/.settings/org.eclipse.php.core.prefs
/lib/composer.json
/lib/composer.lock
/lib/vendor/composer/InstalledVersions.php
/lib/vendor/composer/LICENSE
/lib/vendor/composer/autoload_classmap.php
/lib/vendor/composer/autoload_files.php
/lib/vendor/composer/autoload_namespaces.php
/lib/vendor/composer/autoload_psr4.php
/lib/vendor/composer/autoload_real.php
/lib/vendor/composer/installed.json
/lib/vendor/composer/installed.php
/lib/vendor
/yakpro-po
/yakpro-po/context
/lib/vendor
/uploads/expense
/uploads
/lib/vendor/wixel/gump/tests/Validators
/lib/vendor/wixel/gump/tests
/lib/vendor/composer
/lib/vendor/wixel/gump/tests/Validators
/lib/vendor/wixel/gump/tests/Validators

lib/vendor/autoload.php
lib/vendor/composer/autoload_classmap.php
lib/vendor/composer/autoload_files.php
lib/vendor/composer/autoload_namespaces.php
lib/vendor/composer/autoload_psr4.php
lib/vendor/composer/autoload_real.php
lib/vendor/composer/autoload_static.php
lib/vendor/composer/ClassLoader.php
lib/vendor/composer/installed.json
lib/vendor/composer/installed.php
lib/vendor/composer/InstalledVersions.php
lib/vendor/composer/LICENSE
lib/vendor/composer/platform_check.php
lib/vendor/wixel/gump/.coveralls.yml
lib/vendor/wixel/gump/.travis.yml
lib/vendor/wixel/gump/ci/boot.php
lib/vendor/wixel/gump/ci/check_filters_docs.php
lib/vendor/wixel/gump/ci/check_validators_docs.php
lib/vendor/wixel/gump/ci/check_validators_translations.php
lib/vendor/wixel/gump/ci/dump_filters_docs.php
lib/vendor/wixel/gump/ci/dump_validators_docs.php
lib/vendor/wixel/gump/composer.json
lib/vendor/wixel/gump/composer.lock
lib/vendor/wixel/gump/gump.class.php
lib/vendor/wixel/gump/lang/de.php
lib/vendor/wixel/gump/lang/en.php
lib/vendor/wixel/gump/lang/eo.php
lib/vendor/wixel/gump/lang/es.php
lib/vendor/wixel/gump/lang/fa.php
lib/vendor/wixel/gump/lang/fr.php
lib/vendor/wixel/gump/lang/he.php
lib/vendor/wixel/gump/lang/hu.php
lib/vendor/wixel/gump/lang/id.php
lib/vendor/wixel/gump/lang/it.php
lib/vendor/wixel/gump/lang/ja.php
lib/vendor/wixel/gump/lang/nl.php
lib/vendor/wixel/gump/lang/pt-br.php
lib/vendor/wixel/gump/lang/ru.php
lib/vendor/wixel/gump/lang/tr.php
lib/vendor/wixel/gump/lang/uk.php
lib/vendor/wixel/gump/LICENSE
lib/vendor/wixel/gump/phpunit.xml.dist
lib/vendor/wixel/gump/README.md
lib/vendor/wixel/gump/src/ArrayHelpers.php
lib/vendor/wixel/gump/src/EnvHelpers.php
lib/vendor/wixel/gump/tests/BaseTestCase.php
lib/vendor/wixel/gump/tests/ConstructorTest.php
lib/vendor/wixel/gump/tests/Filters/BasicTagsFilterTest.php
lib/vendor/wixel/gump/tests/Filters/BooleanFilterTest.php
lib/vendor/wixel/gump/tests/Filters/HtmlencodeFilterTest.php
lib/vendor/wixel/gump/tests/Filters/LowercaseFilterTest.php
lib/vendor/wixel/gump/tests/Filters/MsWordCharactersFilterTest.php
lib/vendor/wixel/gump/tests/Filters/NoiseWordsFilterTest.php
lib/vendor/wixel/gump/tests/Filters/RmpunctuationFilterTest.php
lib/vendor/wixel/gump/tests/Filters/SanitizeEmailFilterTest.php
lib/vendor/wixel/gump/tests/Filters/SanitizeFloatsFilterTest.php
lib/vendor/wixel/gump/tests/Filters/SanitizeNumbersFilterTest.php
lib/vendor/wixel/gump/tests/Filters/SanitizeStringFilterTest.php
lib/vendor/wixel/gump/tests/Filters/SlugFilterTest.php
lib/vendor/wixel/gump/tests/Filters/UrlencodeFilterTest.php
lib/vendor/wixel/gump/tests/Filters/WholeNumberFilterTest.php
lib/vendor/wixel/gump/tests/FilterTest.php
lib/vendor/wixel/gump/tests/GetErrorsArrayTest.php
lib/vendor/wixel/gump/tests/GetReadableErrorsTest.php
lib/vendor/wixel/gump/tests/RunTest.php
lib/vendor/wixel/gump/tests/SanitizeTest.php
lib/vendor/wixel/gump/tests/StaticAddFilterTest.php
lib/vendor/wixel/gump/tests/StaticAddValidatorTest.php
lib/vendor/wixel/gump/tests/StaticFieldTest.php
lib/vendor/wixel/gump/tests/StaticFilterInputTest.php
lib/vendor/wixel/gump/tests/StaticIsValidTest.php
lib/vendor/wixel/gump/tests/StaticSetErrorMessagesTest.php
lib/vendor/wixel/gump/tests/StaticSetFieldNameTest.php
lib/vendor/wixel/gump/tests/StaticXssCleanTest.php
lib/vendor/wixel/gump/tests/ValidateTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaDashValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaNumericDashValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaNumericSpaceValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaNumericValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaSpaceValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/AlphaValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/BooleanValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ContainsListValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ContainsValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/DateValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/DoesntContainListValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/EqualsFieldValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ExactLenValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ExtensionValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/FloatValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/Guidv4ValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/IbanValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/IntegerValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/MaxLenValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/MaxNumericValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/MinAgeValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/MinLenValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/MinNumericValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/NumericValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/PhoneNumberValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/RegexValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/RequiredFileValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/RequiredValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/StartsValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/StreetAddressValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/UrlExistsValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidArraySizeEqualValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidArraySizeGreaterValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidArraySizeLesserValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidCcValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidEmailValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidIpv4ValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidIpv6ValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidIpValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidJsonStringValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidNameValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidTwitterValidatorTest.php
lib/vendor/wixel/gump/tests/Validators/ValidUrlValidatorTest.php

