/.project
/.vendor
/.uploads
/.yakpro-po
/lib/vendor/PHPMailer/COMMITMENT
/lib/vendor/PHPMailer/LICENSE
/lib/vendor/PHPMailer/README.md
/lib/vendor/PHPMailer/SECURITY.md
/lib/vendor/PHPMailer/VERSION
/lib/vendor/PHPMailer/composer.json
/lib/vendor/PHPMailer/get_oauth_token.php
/lib/vendor/PHPMailer/language/phpmailer.lang-af.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ar.php
/lib/vendor/PHPMailer/language/phpmailer.lang-az.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ba.php
/lib/vendor/PHPMailer/language/phpmailer.lang-be.php
/lib/vendor/PHPMailer/language/phpmailer.lang-bg.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ca.php
/lib/vendor/PHPMailer/language/phpmailer.lang-cs.php
/lib/vendor/PHPMailer/language/phpmailer.lang-da.php
/lib/vendor/PHPMailer/language/phpmailer.lang-de.php
/lib/vendor/PHPMailer/language/phpmailer.lang-el.php
/lib/vendor/PHPMailer/language/phpmailer.lang-eo.php
/lib/vendor/PHPMailer/language/phpmailer.lang-es.php
/lib/vendor/PHPMailer/language/phpmailer.lang-et.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fa.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fo.php
/lib/vendor/PHPMailer/language/phpmailer.lang-fr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-gl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-he.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hu.php
/lib/vendor/PHPMailer/language/phpmailer.lang-hy.php
/lib/vendor/PHPMailer/language/phpmailer.lang-id.php
/lib/vendor/PHPMailer/language/phpmailer.lang-it.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ja.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ka.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ko.php
/lib/vendor/PHPMailer/language/phpmailer.lang-lt.php
/lib/vendor/PHPMailer/language/phpmailer.lang-lv.php
/lib/vendor/PHPMailer/language/phpmailer.lang-mg.php
/lib/vendor/PHPMailer/language/phpmailer.lang-mn.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ms.php
/lib/vendor/PHPMailer/language/phpmailer.lang-nb.php
/lib/vendor/PHPMailer/language/phpmailer.lang-nl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pt.php
/lib/vendor/PHPMailer/language/phpmailer.lang-pt_br.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ro.php
/lib/vendor/PHPMailer/language/phpmailer.lang-ru.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sk.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sr_latn.php
/lib/vendor/PHPMailer/language/phpmailer.lang-sv.php
/lib/vendor/PHPMailer/language/phpmailer.lang-tl.php
/lib/vendor/PHPMailer/language/phpmailer.lang-tr.php
/lib/vendor/PHPMailer/language/phpmailer.lang-uk.php
/lib/vendor/PHPMailer/language/phpmailer.lang-vi.php
/lib/vendor/PHPMailer/language/phpmailer.lang-zh.php
/lib/vendor/PHPMailer/language/phpmailer.lang-zh_cn.php
/lib/vendor/PHPMailer/src/Exception.php
/lib/vendor/PHPMailer/src/OAuth.php
/lib/vendor/PHPMailer/src/OAuthTokenProvider.php
/lib/vendor/PHPMailer/src/PHPMailer.php
/lib/vendor/PHPMailer/src/POP3.php
/lib/vendor/PHPMailer/src/SMTP.php
/.gitignore
/.settings/org.eclipse.php.core.prefs
/lib/composer.json
/lib/composer.lock
/lib/vendor/composer/InstalledVersions.php
/lib/vendor/composer/LICENSE
/lib/vendor/composer/autoload_classmap.php
/lib/vendor/composer/autoload_files.php
/lib/vendor/composer/autoload_namespaces.php
/lib/vendor/composer/autoload_psr4.php
/lib/vendor/composer/autoload_real.php
/lib/vendor/composer/installed.json
/lib/vendor/composer/installed.php
/lib/vendor
/yakpro-po
